body {

  background-color: #404041;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  user-select: none;
  font-family: monospace;
  /*   border: 1px solid red; */
}


p {
  margin: auto; 
}


li {
  list-style: none;
}

h1{
  padding-left: 40%;
}

canvas {
  padding: 3% 3% 3% 3%;
  box-sizing: border-box;
  width: 100%
}


input[type='range'] 
{

  appearance: none; 
  overflow: hidden;
  border: 1px solid #000000; 
  color: #000000;
  background-color: #000000;
  background-color: #616161;
}

input[type='range']::-webkit-slider-thumb 
{
  appearance: none;
  width: 10%; 
  height: 50px;
  border: 1px solid #000000; 
  color: #000000;
  background-color: #000000;
}

/* no file chosen tooltip */
input[type='file'] {
  color: transparent;

}


@media screen and (orientation: portrait)
{
  body {
    overflow-y: scroll;
  }
  #mod-sliders {
    display: block;
    margin-top: 10px;
  }
  #mod-sliders > div > input[type='range'] 
  {
    transform: rotate(0deg);
    width: 80%;
    height: 10px;
    margin-top: 0px;
  }

}
@media screen and (orientation: landscape)
{

  #mod-sliders {
    display: flex;
  }
  #mod-sliders > div > input[type='range'] 
  {
    transform: rotate(270deg);
    width: 100%;
    height: 30px;
    margin-top: 50px;
  }


}

@media screen and (min-width: 1030px) /* desktop only */
{
  body {
    overflow-y: hidden;
  }
}

/*** debug ***/

/* div{border: 1px solid #ff0000} */